<h1><%=t("activerecord.models.cotizacion_peso_dolar_historico") %></h1>

<table>
  <tr>

    <th><%=t("activerecord.attributes.cotizacion_peso_dolar_historico.valor") %></th>

    <th><%=t("activerecord.attributes.created_at") %></th>

    <th><%=t("activerecord.attributes.user") %></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @cotizaciones_peso_dolar_historico) do |cotizacion_peso_dolar_historico| %>

    <td><%= cotizacion_peso_dolar_historico.valor %></td>

    <td><%= I18n.l(cotizacion_peso_dolar_historico.created_at) %></td>

    <td><%= cotizacion_peso_dolar_historico.user.name %></td>
    <% end %>
</table>

<br />

<%= link_to t('scaffoldi18n.back'), edit_cotizacion_peso_dolar_path(@cotizaciones_peso_dolar_historico.first.cotizacion_peso_dolar.id) if @cotizaciones_peso_dolar_historico.first%>


