<h1><%=t("activerecord.models.banco") %></h1>

<table>
  <tr>

    <th><%=t("activerecord.attributes.banco.detalle") %></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @bancos) do |banco| %>

    <td><%= banco.detalle %></td>

    <td><%= link_to t("scaffoldi18n.show"), banco %></td>
    <td><%= link_to t("scaffoldi18n.edit"), edit_banco_path(banco) %></td>
    <td><%= link_to t("scaffoldi18n.destroy"), banco, confirm: t("scaffoldi18n.are_you_sure?"), method: :delete %></td>
  <% end %>
</table>

<br />

<%= link_to t('scaffoldi18n.new'), new_banco_path %>


