<p id="notice"><%= notice %></p>


<p>
  <b>Detalle:</b>
  <%= @banco.detalle %>
</p>

<%= content_tag_for(:ul, @banco.empresas) do |empresa| %>
  <li><%= empresa.detalle %></li>
<% end %>


<%= link_to t('scaffoldi18n.edit'), edit_banco_path(@banco) %> |
<%= link_to t('scaffoldi18n.back'), bancos_path %>
