<h1><%=t("activerecord.models.proveedor") %></h1>

<table>
  <tr>

    <th><%=t("activerecord.attributes.proveedor.detalle") %></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @proveedores) do |proveedor| %>

    <td><%= proveedor.detalle %></td>

    <td><%= link_to t("scaffoldi18n.show"), proveedor %></td>
    <td><%= link_to t("scaffoldi18n.edit"), edit_proveedor_path(proveedor) %></td>
    <td><%= link_to t("scaffoldi18n.destroy"), proveedor, confirm: t("scaffoldi18n.are_you_sure?"), method: :delete %></td>
  <% end %>
</table>

<br />

<%= link_to t('scaffoldi18n.new'), new_proveedor_path %>


