<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <br/>
      <div id="rol">
        <% @rol = @user.admin? ? "Administrador" : "Usuario básico" %>
        <%= "Rol: #{@rol}" %>
      </div>
      <br/>
      <% if current_user.admin? %>
      <%= link_to "Editar usuario", edit_user_path(@user) %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Nombre</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
