<%= form_for(@partida_contable) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>


  <div class="field">
    <%= f.label :fecha_actual %><br />
    <%= f.date_select :fecha_actual %>
  </div>

  <div class="field">
    <%= f.label :fecha_de_vencimiento %><br />
    <%= f.date_select :fecha_de_vencimiento %>
  </div>

  <div class="field">
    <%= f.label :empresa %><br />
    <%= f.collection_select("empresa_id", @empresas, "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :banco %><br />
    <%= f.grouped_collection_select("banco_id", @empresas, "bancos", "detalle", "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :solicitante %><br />
    <%= f.collection_select("solicitante_id", @solicitantes, "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :canal_de_solicitud %><br />
    <%= f.collection_select("canal_de_solicitud_id", @canales_de_solicitud, "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :rubro %><br />
    <%= f.collection_select("rubro_id", @rubros, "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :importe_currency, "Tipo de moneda" %><br />
    <%= f.select("importe_currency", PartidaContable::TIPODEMONEDA) %>
  </div>

  <div class="field">
    <%= f.label :importe %><br />
    <%= f.text_field :importe %>
  </div>

  <div class="field">
    <%= f.label :tipo_de_movimiento %><br />
    <%= f.select("tipo_de_movimiento", PartidaContable::TIPODEMOVIMIENTO) %>
  </div>

  <div class="field">
    <%= f.label :referente %><br />
    <%= f.collection_select("referente_id", @referentes, "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :producto_trabajo %><br />
    <%= f.collection_select("producto_trabajo_id", @productos_trabajos, "id", "detalle") %>
  </div>

  <div class="field">
    <%= f.label :medio_de_pago %><br />
    <%= f.collection_select("medio_de_pago_id", @medios_de_pago, "id", "detalle") %>

  </div>

  <div class="field">
    <%= f.label :motivo_de_baja_presupuestaria %><br />
    <%= f.collection_select("motivo_de_baja_presupuestaria_id", @motivos_de_baja_presupuestaria, "id", "detalle") %>
  </div>

    <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_area :detalle %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
