<%= form_for(@partida_contable) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>


  <div class="field">
    <%= f.label :fecha_de_vencimiento %><br />
    <%= f.date_select :fecha_de_vencimiento %>
  </div>

  <div class="field">
    <%= f.label :empresa %><br />
    <%= f.collection_select("empresa_id", @empresas, "id", "detalle", :include_blank => "Seleccione una empresa...") %>
  </div>

  <div class="field">
    <%= f.label :banco %><br />
    <%= f.grouped_collection_select("banco_id", @empresas, "bancos", "detalle", "id", "detalle", :include_blank => "Seleccione un banco...") %>
  </div>

  <div class="field">
    <%= f.label :solicitante %><br />
    <%= f.collection_select("solicitante_id", @solicitantes, "id", "detalle", :include_blank => "Seleccione un solicitante...") %>
  </div>

  <div class="field">
    <%= f.label :canal_de_solicitud %><br />
    <%= f.collection_select("canal_de_solicitud_id", @canales_de_solicitud, "id", "detalle", :include_blank => "Seleccione un canal de solicitud...") %>
  </div>

  <div class="field">
    <%= f.label :rubro %><br />
    <%= f.collection_select("rubro_id", @rubros, "id", "detalle", :include_blank => "Seleccione un rubro...") %>
  </div>

  <div class="field">
    <%= f.label :importe_currency, "Tipo de moneda" %><br />
    <%= f.select("importe_currency", PartidaContable::TIPODEMONEDA, :include_blank => "Seleccione una moneda...") %>
  </div>

  <div class="field">
    <%= f.label :importe %><br />
    <%= f.text_field :importe %>
  </div>

  <div class="field">
    <%= f.label :tipo_de_movimiento %><br />
    <%= f.select("tipo_de_movimiento", @tipos_de_movimiento, :include_blank => "Seleccione un tipo de movimiento...") %>
  </div>

  <div class="field">
    <%= f.label :cliente_proveedor %><br />
    <%= f.collection_select("cliente_proveedor_id", @clientes_proveedores, "id", "detalle", :include_blank => "Seleccione un cliente / proveedor...") %>
  </div>

  <div class="field">
    <%= f.label :producto_trabajo %><br />
    <%= f.collection_select("producto_trabajo_id", @productos_trabajos, "id", "detalle", :include_blank => "Seleccione un producto trabajo...") %>
  </div>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_area :detalle %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
