<p id="notice"><%= notice %></p>

<p>
  <b>Número de partida contable:</b>
  <%= @partida_contable.id %>
</p>


<p>
  <b>Fecha de vencimiento:</b>
  <%= I18n.l(@partida_contable.created_at) %>
</p>


<p>
  <b>Fecha de vencimiento:</b>
  <%= I18n.l(@partida_contable.fecha_de_vencimiento) %>
</p>


<p>
  <b>Empresa:</b>
  <%= @partida_contable.empresa.detalle %>
</p>


<p>
  <b>Banco:</b>
  <%= @partida_contable.banco.detalle if @partida_contable.banco %>
</p>


<p>
  <b>Solicitante:</b>
  <%= @partida_contable.solicitante.detalle %>
</p>


<p>
  <b>Canal de solicitud:</b>
  <%= @partida_contable.canal_de_solicitud.detalle %>
</p>


<p>
  <b>Rubro:</b>
  <%= @partida_contable.rubro.detalle %>
</p>

<p>
  <b>Tipo de moneda:</b>
  <%= @partida_contable.importe_currency %>
</p>

<p>
  <b>Importe:</b>
  <%= @partida_contable.importe %>
</p>

<p>
  <b>Valor dolar:</b>
  <%= @partida_contable.valor_dolar %>
</p>

<p>
  <b>Tipo de movimiento:</b>
  <%= PartidaContable::TIPODEMOVIMIENTO.key(@partida_contable.tipo_de_movimiento) %>
</p>


<p>
  <b>Cliente proveedor:</b>
  <%= @partida_contable.cliente_proveedor.detalle %>
</p>

<p>
  <b>Producto trabajo:</b>
  <%= @partida_contable.producto_trabajo.detalle %>
</p>

<p>
  <b>Detalle:</b>
  <%= @partida_contable.detalle %>
</p>


<p>
  <b>Estado:</b>
  <%= PartidaContable::ESTADOS.key(@partida_contable.estado) %>
</p>


<p>
  <b>Motivo de baja presupuestaria:</b>
  <%= @partida_contable.motivo_de_baja_presupuestaria.detalle if @partida_contable.motivo_de_baja_presupuestaria %>
</p>

<p>
  <b><%=t("activerecord.attributes.deleted_at") %>:</b>
  <%= @partida_contable.deleted_at %>
</p>



<%= link_to t('scaffoldi18n.edit'), edit_partida_contable_path(@partida_contable) %> |
<%= link_to t('scaffoldi18n.back'), partidas_contable_path %>
